html {
    height: 100%;
}

body {
    height: 100%;
}

.parallax {
    /* The image used */
    height: 100%;
    background-image: url('../images/leaves_sm.jpg');

    /*Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
   /* The image used */
    height: 200%;
    background-image: url('../images/subway.jpg');

    /*Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.born {
  /*first page title paragraph css*/
  color: white;
  font-family:'Montserrat', sans-serif;
  margin-top: 29%;
  font-size: 200px;
  background-color: rgb(214, 104, 72);
}

.bgwhite {
  background-color: white;
  font-family:'Montserrat', sans-serif;
  color: rgb(214, 104, 72);
  min-height: 100%;
  padding-top: 5%;
}


p {
  color: grey;
  font-size: 18px;
  line-height: 150%;
  padding-bottom: 3%;
}

h1 {
  padding-bottom: 3%;
}


span {
   color: rgb(214, 104, 72);
}

/*---------------Beginning of css for coming soon section layout---------------------- */

/*body{
  font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size:14px;
  line-height:1.4285em;
  color: rgba(0,0,0,.87);
}*/

h2 {
  color: white;
}

.eventTitle {
  color: white;
}

.thread-parent img {
  max-width: 100%;
}

/* Limited Images */
.limited-parent-image {
  cursor: pointer;
  position: relative;
  max-height: 200px;
  overflow: hidden;
  -moz-transition: max-height .5s;
  -webkit-transition: max-height .5s;
  -o-transition: max-height .5s;
  -ms-transition: max-height .5s;
   transition: max-height .5s;
}
.limited-parent-image:hover {
  max-height: 1000px;
  height: 100%;
}
.limited-expand {
  background: rgba(0, 0, 0, 0.13);
  position: absolute;
  cursor: pointer;
  padding: 5px;
  color: #fff;
  right: 0;
  top: 0;
}

.limited-modal {
  display: none;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}
/* Modal Content (image) */
.limited-modal-content-image {
  margin: auto;
  display: block;
}
/* Add Animation */
.limited-modal-content-image {
  max-height:100%;
  max-width:100%;
  -webkit-animation-name: limited_zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: limited_zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes limited_zoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}
@keyframes limited_zoom {
  from {transform: scale(0.1)}
  to {transform: scale(1)}
}

/* The Close Button */
.limited-close-modal {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.limited-close-modal:hover,
.limited-close-modal:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .limited-modal-content-image {
    width: 100%;
  }
}

/*----------------------------Footer Styling-------------------------------------------------*/

body {
  margin-bottom: 150px;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  text-align: center;
  padding-top: 1.5%;
}

.fa-twitter {
    color: #4099FF;
}

.fa-github {
  color: black ;
}

.fa-file-pdf-o {
  color: #ce2339;
}

.resumediv {
    width: 100%;
    min-height: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: rgba(253,255,248,.3);
    margin-top:20px;
}

.fa-linkedin {
    color: #007bb6;
}

.fa-link {
  color: rgb(214, 104, 72);
}
